.mainNavigationMiddle {
    width: 20px;
    float: right;
    color: #f5f1e8;
}

.mainNavigation {
    border-radius:5px;
    background-color: #85c4eb;
    /*letter-spacing:1px;*/
}

.mainNavigationLogo {
    top: 50px;
    height: 50px;
    width: 170px;
	background-color: #669bd9;
	color: white;
	text-align: center;
	border-radius: 5px;
	line-height: 50px;
	font-size: 28pt;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	letter-spacing: -.5px;
	font-weight: 300;
}

.mainNavigationLogo b{
	font-style: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

	.mainNavigationLogo:hover{
		background-color: #5582b4;
	}

.mainNavigationRight {
    background-color: #99CC99;
    text-align:center;
	color: white;
	font-size: 12pt;
	font-weight: 200;
	/*letter-spacing:1px;*/
	cursor: pointer;

}

	.mainNavigationRight.left{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.mainNavigationRight.middle{
	}
	.mainNavigationRight.right{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.mainNavigationRight:focus{
		background-color: #89b589;
	}
	.mainNavigationRight.selected{
		background-color: #89b589;
	}
	.mainNavigationRight:hover{
		background-color: #89b589;
	}
	.mainNavigationRight:active{
		background-color: #89b589;
	}
	.mainNavigationRightArrow{
		content: "";
		position: relative;
		left: 50%; /* centers the element's left edge */
	  	margin-left: -16px; /* <-- moves it back half it's own width */
	  	width: 0px; /* <-- don't need unit on 0 */
	  	height 0px; /* <-- don't need unit on 0 */
		xxmargin: 0px auto; /* <-- eliminate, use above margin */
		border-left: 16px solid transparent;
		border-right: 16px solid transparent;
		border-top: 13px solid #89b589;
	}

.mainNavigationRightPopulateImageContainer{
	float:left;
	padding:35px;
}

.mainNavigationRightPopulate {
    background-color: white;
    border-radius: 5px;
	color: gray;
	font-size: 10pt;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: text-top;
	margin: 0;
	font-weight: 300;
}

.mainNavigationRightPopulate.hidden{
	visibility: hidden;
}

	}
	.mainNavigationRightPopulate:focus{
		background-color: #F5F5F5;
	}
	.mainNavigationRightPopulate.selected{
		background-color: #F5F5F5;
	}
	.mainNavigationRightPopulate:hover{
		background-color: #F5F5F5;
	}
	.mainNavigationRightPopulate:active{
		background-color: #F5F5F5;
	}
	.mainNavigationRightPopulate img{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	margin-left: 10px;
	position: absolute;
	top: 0; left: 0; bottom: 0;
	border-radius: 50px;
}