<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	<li data-target="#carousel-example-generic" data-slide-to="3"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
	{% for post in site.posts %}
		{% if post.url == '/2014/12/02/1stpost.html' %}
			<div class="item active">
		{% else %}
		<div class="item">
		{% endif %}
		<a href="{{ post.url }}">
				<img src="{{ post.image }}" alt="...">
				<div class="carousel-caption">
					<h3>{{ post.title }}</</h3>
				</div>
			</a>
			</div>
		
	{% endfor %}
</div>

<!-- Controls -->

</div> <!-- Carousel -->