<div class="mainNavigationRightPopulateContainer">
<div class="mainNavigationRightPopulate">
	<div class="mainNavigationRightPopulateImageContainer">
	<img src="/img/user_photo2.png">
	</div>
	<h1>This just in!</h1>
	<p>Lorem ipsum Ullamco mollit laborum sunt adipisicing elit commodo Duis eu dolor Excepteur adipisicing minim dolor aliquip laborum.</p>
</div>
<div class="mainNavigationRightPopulate">
	<div class="mainNavigationRightPopulateImageContainer">
	<img src="/img/user_photo.png">
	</div>
	<h1>Another big update!</h1>
	<p>Lorem ipsum Ullamco mollit laborum sunt adipisicing elit commodo Duis eu dolor Excepteur adipisicing minim dolor aliquip laborum.</p>
</div>