body{
    background: #02A800;
    font-family: arial;
}

#container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

#nav_top{
    background: #CBB802;
    border-style: solid;
    border-color: #002A52;
}

#nav_top li a{
    text-decoration: none;
    color: #002A52;
    font-size: 22px;
}

#nav_top ul {
    list-style-type: none;
    margin: 0;
    padding: 15;
}

#nav_top ul li { display: inline; }

#header{
    width: 100%;
}

#header {
    width: 100%;
    margin-top: 10px;
    border-style: solid;
    border-color: #002A52;
}

#blog_post{
    float: left;
    width: 70%;
}

#blog_post p {
	text-indent: 40px;
}

#contacts {
    float: right;
    width: 160px;
    background: #CBB802;
    padding-left: -70px;
    border-style: solid;
    border-color: #002A52;
}

#contacts li a{
    text-decoration: none;
    color: #002A52;
    font-size: 22px;
}

#contacts ul{ list-style-type: none; }
